 
.home{
    display: flex;
 }

.sidebar{
    width: 21%; 
      background-color: white;
     float: right;
     align-items: right;
      padding-top: 6%;
     direction: rtl;
     height: 100vh;
}
.header{
    width: 97%;
     position: sticky;
     margin:1em auto;
 }
#navBar{
    background-color: white !important;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

}

.seeting{
    display: flex;
    align-items: center;
}
.seeting__p{
     display: flex;
    padding-right: .2rem;
    flex-direction: column;
    color: #8B8A8A;
}
.seeting__name{
    font-size: 14px;
    color: #8B8A8A;
    font-weight: 400;


}
.seeting__id{
    font-size: 11px;
    color: #8B8A8A;
    font-weight: 200;
    text-align: right;


}
.icon{
    color: #8b8a8ab7;

}
.icons{
    color: #8b8a8ab7;
    margin-left:.5rem ;

}
.css-qc5jhc-MuiBadge-badge {

background-color: #FD282F !important;
height: 10px !important;
width: 10px !important;
    border-radius: 50% !important;
    top: 25% !important;
    right: 20% !important;
}

