.acount{
    width: 96%;
    background-color: #fff;
    margin: auto;
    text-align: right;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2 ) ;
    border-radius: 4px;
    display: flex;
    direction: rtl;
    flex-direction: column;
    padding: .7rem;
  }

  .acount__div{
    width: 70%;
    /* background-color: yellow; */
    margin-left: auto;
     padding: .8rem;
}
.p__color{
    font-size: 12px;
    color: #EE6A6E;
}
.acount__P{
    font-size: 16px;
    font-weight: 400;
    color: #8B8A8A;
}
.acount__P__small{
    font-size: 18px;
    font-weight: 400;
    color: #8B8A8A;
}
.img{
    width: 1.2rem;
}#body__requst{
    text-align: center !important;
    direction: rtl;
    align-items: center !important;
     flex-direction: column;
    justify-content: center !important;
    display: flex!important;}
 
#body__sucses{
    text-align: right !important;
    direction: rtl;
    align-items: right !important;
    justify-content: right !important;
      /* display: unset !important; */
}
.sun__small{
    font-size: 12px;
    color: #8B8A8A;

}
#subs{  font-size: 17px !important;
color: #636260 !important;
}
#subs__teaxt{
    color: #636260 !important;

}

#yes__requst{
    font-size: 25px;
    padding-top: 1rem;
    font-weight: 600;
}
.sun__small__clor{
    color: blue;
}
 .textarea{
     outline: none;
     font-size: 15px;
      color: #8B8A8A;
      border:  1px solid #8b8a8a4d;
      width: 120%;
      height: 80px;
      border-radius: 8px;
      margin-right: 3rem;
 }
.normal{
    font-size: 15px;
    color: #8B8A8A;
}
 .time{
    font-size: 15px;
    color: #8B8A8A;
    font-weight: 600;
 }
#mods{
    background-color: #F4BB50 !important;
}
.place__color{
    color: #7CB264;
    font-size: 14px;
}
.place{
       font-size: 13px;
    color: #8B8A8A;
 }

 .acount__Ps{
    font-size: 13px;
    font-weight: 400;
    color: #8B8A8A;
}

.select__place{
    display: flex;
    align-items: center;
    text-align: center;
    direction: rtl;
}
#select__place__p{
 }
 .form-select{
     font-size: 13px !important;
    background-position: left.75rem center !important;
padding: .875rem 1rem .375rem .75rem !important;
direction: rtl;
 color: #8B8A8A !important;

}
#pre__selects{
    color: #8b8a8ac0 !important;
border: 1px solid #6362607a !important;
width: 100%;
text-align: right !important;
margin-bottom:16px;
font-size: 12.5px !important;
padding: .6rem !important;
border-radius: 5px !important;
padding-right: .8rem !important;

}
#pre__select{
    color: #b1a7a7c0 !important;
    padding-right: .1rem !important;
padding-top: .8rem !important;
    text-align: right !important;
    font-size: 12.5px !important;

}
 
#sure__text__addres {
    background-color: #7CB264 !important;
    border: none !important;
    color: white;
    width: 40%;
    padding: 8px;
    font-weight: 500;
    margin: 2px;

}
